<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                Contatus
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/buscar/form">Buscar</a></li>
            <li><a href="/contatos">Listar</a></li>
            <li><a href="/contatos/form">Adicionar</a></li>
            <li><a href="/atualizar">Atualizar</a></li>
            <li><a href="/deletar">Deletar</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>

    </div>
</nav>