<html>
    
    <% include ../partials/head %>
    
    <body>
        
        <% include ../partials/nav %>
        
        <table border="3px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>apelido</td>
                <td>email</td>
                <td>telefone</td>
                <td>aniversario</td>
                <td>foto</td>
            </tr>
            <tr>
                <%for(var i=0; i<list.length; i++){%>
                    <tr>
                        <td><%=list[i].id%></td>
                        <td><%=list[i].nome%></td>
                        <td><%=list[i].apelido%></td>
                        <td><%=list[i].email%></td>
                        <td><%=list[i].telefone%></td>
                        <td><%=list[i].aniversario%></td>
                        <td><%=list[i].foto%></td>
                    </tr>
                <%}%>
            </tr>
        </table>
        <% include ../partials/footer %>

        <% include ../partials/scripts %>
    </body>
</html>