<html>
    <% include ../partials/head %>
    <body>
        
        <% include ../partials/nav %>
        
        <form action="/deletar" method="post">
            <div>
                <label for="id">ID</label>
                <input type="text" id="id" name="id" placeholder="Insira o ID"/>
            </div>
            <input type="submit" value="deletar"/>
        </form>
        
        <% include ../partials/footer %>

        <% include ../partials/scripts %>
    </body>
</html>