<html>
    <% include ../partials/head %>
    <body>
        
        <% include ../partials/nav %>
        
        <form action="/contatos" method="post">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Coloque o nome"/>
            </div>
            <div>
                <label for="apelido">Apelido</label>
                <input type="text" id="apelido" name="apelido" placeholder="Coloque o apelido"/>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Coloque o email"/>
            </div>
            <div>
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" placeholder="Coloque o telefone"/>
            </div>
            <div>
                <label for="aniversario">Aniversario</label>
                <input type="date" id="aniversario" name="aniversario" placeholder="Coloque a data"/>
            </div>
            <div>
                <label for="foto">Foto</label>
                <input type="file" id="foto" name="foto" placeholder="Coloque o título"/>
            </div>
            
            <input type="submit" value="salvar"/>
        </form>
        <% include ../partials/footer %>

        <% include ../partials/scripts %>
    </body>
</html>