<html>
    <% include ../partials/head %>
    <body>
        
        <% include ../partials/nav %>
        
        <form action="/buscar" method="post">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Coloque o nome"/>
            </div>
            <div>
                <label for="apelido">Apelido</label>
                <input type="text" id="apelido" name="apelido" placeholder="Coloque o apelido"/>
            </div>
            
            <input type="submit" value="buscar"/>
        </form>
        <% include ../partials/footer %>

        <% include ../partials/scripts %>
    </body>
</html>